<!--
CS 290, Week 5: GET and POST checker
main.handlebars
Author: David Rider
July 23, 2018
-->
<!DOCTYPE html>
<html>
<head>
	<title>Week 5 - Get Post Checker</title>
</head>
<body>
	{{{ body }}}
</body>
</html>